# .gitignore
*.log
__pycache__
venv/
.env
.DS_Store
*.swp
logs/
history.json
*.tmp
*.bak
*.exe
*.dll
*.zip
*.tar.gz
*.gguf
*.model
*.bin
*.pt
*.pth
*.onnx
*.pb
*.tflite
*.h5
*.jsonl
*.lock
*.db
*.sqlite
*.csv
*.xls
*.xlsx
*.xml
*.ini
*.cfg
*.conf
*.out
*.obj
*.pdb
*.prof
.ipynb_checkpoints
.vscode/
.idea/
*.sublime-project
*.sublime-workspace